<div class="user-card-container">
  <div *ngIf="user" class="user-card">
    <div class="user-name">{{ user.personalData.firstName }} {{ user.personalData.lastName }}</div>
    <div class="user-info">
      <div class="user-info-item">NIF/Passport: {{ user.personalData.nifPassport }}</div>
      <div class="user-info-item">Gender: {{ user.personalData.gender }}</div>
      <div class="user-info-item">Date of Birth: {{ user.personalData.dateOfBirth }}</div>
    </div>
    <div class="button-container">
      <!-- Details Button -->
      <button mat-icon-button color="accent" (click)="navigateToDetails(user.id)">
        <mat-icon>visibility</mat-icon>
      </button>
      <!-- Edit Button -->
      <button mat-icon-button color="primary" (click)="editUser(user.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <!-- Delete Button -->
      <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
