
.user-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.user-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.user-info {
    font-size: 14px;
}

.user-info-item {
    margin-bottom: 8px;
}
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
